/*==========================================================
            GLOBAL SCROLL REVEAL ANIMATION
==========================================================*/

.reveal{

    opacity:0;

    transform:translateY(80px);

    transition:
        opacity .8s ease,
        transform .8s ease;

    will-change:opacity,transform;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}


/*====================================
        LEFT ANIMATION
====================================*/

.reveal-left{

    opacity:0;

    transform:translateX(-80px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal-left.active{

    opacity:1;

    transform:translateX(0);

}


/*====================================
        RIGHT ANIMATION
====================================*/

.reveal-right{

    opacity:0;

    transform:translateX(80px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal-right.active{

    opacity:1;

    transform:translateX(0);

}


/*====================================
        ZOOM
====================================*/

.reveal-scale{

    opacity:0;

    transform:scale(.8);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal-scale.active{

    opacity:1;

    transform:scale(1);

}